.formgroup {
   display: flex;
   flex-direction: row;
   margin-left: 10%;
   margin-top: 10px;
}
.lable {
   font-weight: bold;
   font-size: small;
   width: 26%;
   text-align: left;
   font-family: Helvetica, sans-serif;
}
.inputField {
   width: 50% !important;
}
.submit-btn {
   display: flex;
   flex-direction: row;
   margin-left: 50%;
   margin-top: 10px;
   /* align-items: center; */
   /* justify-content: center; */
}
